*{  
  margin: 0;  
  padding: 0;  
            }  
html,body{  
  background:url(../images/bg.png)no-repeat center center fixed;
  height: 100%;  
  width: 100%;  
            }  
button {
  margin: 30px 20px;
  padding: 15px 20px;
  border-radius: 10px;
  border: 2px solid;
  font: 16px 'Open Sans', sans-serif;
  text-transform: uppercase;
  background: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-family:微软雅黑;
}

/* btn-1 */
.btn-1 {
  color: #7CB342;
  border-color: #7CB342
  background: -webkit-linear-gradient(left, #7CB342, #7CB342) no-repeat;
  background: linear-gradient(to right, #7CB342, #7CB342) no-repeat;
  background-size: 0% 100%;
}
.btn-1:hover {
  background-size: 100% 100%;
  color: #7CB342;
}

/* btn-2 */
.btn-2 {
  color: #f99898;
  border-color: #f99898;
  background: -webkit-linear-gradient(left, #f99898, #f99898) no-repeat;
  background: linear-gradient(to right, #f99898, #f99898) no-repeat;
  background-size: 100% 0%;
}
.btn-2:hover {
  background-size: 100% 100%;
  color: #f99898;
}

/* btn-3 */
.btn-3 {
  color: #ff5757;
  border-color: #ff5757;
  position: relative;
  overflow: hidden;
}
.btn-3:before {
  content: "";
  position: absolute;
  top: 0;
  right: -5px;
  width: 0;
  height: 100%;
  background-color: #ff5757;
  z-index: -1;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.btn-3:hover {
  color: #ff5757;
}
.btn-3:hover:hover:before {
  width: 110%;
}

/* btn-4 */
.btn-4 {
  color: #f99898;
  border-color: #f99898;
  position: relative;
  overflow: hidden;
}
.btn-4:before {
  content: "";
  background-color: #f99898;
  -webkit-transform: skew(45deg, 0);
          transform: skew(45deg, 0);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -30px;
  z-index: -1;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.btn-4:hover {
  color: #f99898;
}
.btn-4:hover:before {
  width: 150%;
}

/* btn-5 */
.btn-5 {
  color: #f99898;
  border-color: #f99898;
  position: relative;
  overflow: hidden;
}
.btn-5:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -5px;
  width: 110%;
  height: 0;
  background-color: #f99898;
  z-index: -1;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.btn-5:hover {
  color: #f99898;
}
.btn-5:hover:before {
  height: 100%;
}

/* btn-6 */
.btn-6 {
  color: #82daff;
  border-color: #82daff;
  position: relative;
  overflow: hidden;
}
.btn-6:before {
  content: "";
  background-color: #82daff;
  position: absolute;
  z-index: -1;
  top: 0;
  right: -30px;
  height: 100%;
  width: 0;
  -webkit-transform: skew(45deg, 0);
          transform: skew(45deg, 0);
  -webkit-transition: all .5s;
  transition: all .5s;
}
.btn-6:hover {
  color: #82daff;
}
.btn-6:hover:before {
  width: 150%;
}

/* btn-7 */
.btn-7 {
  color: #f99898;
  border-color: #f99898;
  overflow: hidden;
  position: relative;
}
.btn-7:before, .btn-7:after {
  content: "";
  height: 100%;
  width: 0;
  position: absolute;
  z-index: -1;
  background-color: #f99898;
  top: 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.btn-7:before {
  left: 0;
}
.btn-7:after {
  right: 0;
}
.btn-7:hover {
  color: #f99898;
}
.btn-7:hover:before, .btn-7:hover:after {
  width: 50%;
}

/* btn-8 */
.btn-8 {
  color: #f99898;
  border-color: #f99898;
  overflow: hidden;
  position: relative;
}
.btn-8:before, .btn-8:after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 0;
  top: 0;
  background-color: #f99898;
  -webkit-transition: all .4s;
  transition: all .4s;
}
.btn-8:before {
  left: -30px;
  -webkit-transform: skew(-45deg, 0);
          transform: skew(-45deg, 0);
}
.btn-8:after {
  right: -30px;
  -webkit-transform: skew(-45deg, 0);
          transform: skew(-45deg, 0);
}
.btn-8:hover {
  color: #f99898;
}
.btn-8:hover:before, .btn-8:hover:after {
  width: 80%;
}

/* btn-9 */
.btn-9 {
  color: #f99898;
  border-color: #f99898;
  overflow: hidden;
  position: relative;
}
.btn-9:before, .btn-9:after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #f99898;
  width: 100%;
  height: 0;
  left: 0;
  -webkit-transition: all .25s;
  transition: all .25s;
}
.btn-9:before {
  bottom: 50%;
}
.btn-9:after {
  top: 50%;
}
.btn-9:hover {
  color: #f99898;
}
.btn-9:hover:before, .btn-9:hover:after {
  height: 50%;
}

.btn-10 {
  color: #f99898;
  border-color: #f99898;
  overflow: hidden;
  position: relative;
}
.btn-10:before, .btn-10:after {
  content: "";
  height: 100%;
  width: 0;
  position: absolute;
  z-index: -1;
  background-color: #f99898;
  top: 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.btn-10:before {
  left: 0;
}
.btn-10:after {
  right: 0;
}
.btn-10:hover {
  color: #f99898;
}
.btn-10:hover:before, .btn-10:hover:after {
  width: 50%;
}
.cs{
	text-align:center;
    font-family:微软雅黑;
	color:#FF7991;
}
.cs h1{
color:#61c4ed;
}
.cs h2{
color:#61c4ed;
}
.cs h3{
color:rgba(3, 169, 244, 0.41);
}
.cs h4{
color:#61c4ed;
}
.cs h5{
color:#61c4ed;
}
.cs h6{
color:#ff9a40;
}
img#logo {
    width: 128px;
    background-size: cover;
    border-radius: 200px;
    box-shadow: 0px 0px 40px rgba(63, 81, 181, 0.72);
    border: 3px solid #61c4ed;
    opacity: 1;
    margin: 0 auto;
    margin-top: 20px;
	margin-bottom: 20px;
	transition: all 1.0s;  
}
#logo:hover {
    box-shadow: 0 0 10px #fff;
    -webkit-box-shadow: 0 0 19px #fff;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg); 	/* IE 9 */
    -moz-transform:rotate(360deg); 	/* Firefox */
    -webkit-transform:rotate(360deg); /* Safari 和 Chrome */
    -o-transform:rotate(360deg); 	/* Opera */
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}